body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-view {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #ffffff !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #ffffff !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.navbar-toggler {
  background-color: rgb(184, 185, 189);
}

.container{
  padding: 0;
}

#modelform{
  background-image: url('https://wallpaper.dog/large/17090303.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  left:0;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0.6
}

#manufacturerform{
  background-image: url('https://wallpapercave.com/wp/wp4365979.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  left:0;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0.7;

}

#autoinfo{
  background-image: url('https://c4.wallpaperflare.com/wallpaper/159/38/550/dodge-charger-car-muscle-cars-wallpaper-preview.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  left:0;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0.7;
}
